.uploaded-image {
  width: 300px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}

.meter-form {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form > * {
  margin-bottom: 10px;
}

input[type="file"] {
  margin-top: 10px;
}
